<%- include("../partials/header") %>
<body class="d-flex flex-column vh-100">
    <!-- Adding Nav bar-->
    <%- include("../partials/nav") %>

    <h1>
        LMS
    </h1>
    <%- include("../partials/flash") %>

    <%- include("../partials/footer") %>
    <%- include("../partials/bootstrap-js") %>

    
</body>
</html>