<%- include("../partials/header") %>
<body class="d-flex flex-column vh-100">
    <!-- Adding Nav bar-->
    <%- include("../partials/nav") %>

    <div class="container mt-3">
        <div class="row">
            <div class="col-6">
                <%- include("../partials/flash") %>
                <div class="alert alert-primary" role="alert">
                    Login
                </div>
                <form action="/user/login" method="POST">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="password" name="password" required>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-sm btn-primary" id="btnLogin" name="btnLogin">Login</button>
                        <button type="button" class="btn btn-sm btn-warning" id="btnReset" name="btnReset">Reset</button>
                    </div>
                </form>
                
            </div>

        </div>
    </div>

    <%- include("../partials/footer") %>
    <%- include("../partials/bootstrap-js") %>

    <script type="text/javascript">
        document.getElementById("btnReset").addEventListener("click",()=>{
            document.getElementById("email").value="";
            document.getElementById("password").value="";
        })
    </script>
</body>
</html>